html {
  font-smoothing: antialiased;
  color: #444;
}

.Header {
  position: relative;
  background: rgba(0, 0, 0, 0.2);
  height: 90vh;
  text-align: center;
  background: #000 url("knitting-hat.jpeg") center center no-repeat;
  background-size: cover;
}

.Header__logo {
  display: block;
  position: relative;
  top: 20vh;
}

.Header__logoImg {
  height: 100%;
  width: auto;
}

.Header__logoImg > * {
  fill: white;
}

html,
body {
  height: 100%;
}

#tt_widget {
  opacity: 0.9 !important;
}
