html {
  font-smoothing: antialiased;
  color: #444;
}

.Header {
  position: relative;
  background: rgba(0, 0, 0, 0.2);
  height: 70vh;
  text-align: center;
  background: #000 url("forrest-medium.jpg") center center no-repeat;
  background-size: cover;
}

.Header__logo {
  display: block;
  position: relative;
  top: 40%;
}

.Header__logoImg {
  height: 300px;
  width: auto;
}

.Header__logoImg > * {
  fill: white;
}

html,
body {
  height: 100%;
}
