<!DOCTYPE html>
{{! 

14islands bare theme for Tictail Localdev Bookmarklet Watcher

}}
<html lang="en" class="white">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     
    <title>
        {{store_name}}
        {{! Add the label of the current navigation item on list pages }}
        {{#list_page}}{{#navigation}}{{#is_current}}- {{label}}{{/is_current}}{{/navigation}}{{/list_page}}
        {{! Add the product title on product pages }}
        {{#product_page}}{{#product}}- {{title}}{{/product}}{{/product_page}}
        {{! Add "About" on the about page }}
        {{#about_page}}- About{{/about_page}}
    </title>
    <link href="{{assets_url}}/shared/css/base.css" rel="stylesheet" type="text/css">
    <link href='css/styles.css' rel='stylesheet' type='text/css' inline>
    <!--[if lt IE 9]>
    <script src="{{assets_url}}/shared/js/html5shiv.js"></script>
    <![endif]-->
</head>

<body class="">

        <header class="Header">
            <a id="" class="Header__logo" href="{{store_url}}" title="{{store_name}}">
                <img class="Header__logoImg" src="{{#logotype}}{{url-100}}{{/logotype}}" alt="{{store_name}}" />
            </a>
            
            <ul id="nav">
                <li>
                    <a class="{{#about_page}}selected{{/about_page}}" href="{{store_url}}/page/about">
                    <!--{{#lang}}About{{/lang}}-->
                    </a>
                </li>

                {{#store_blog_url}}
                <li>
                    <a href="{{store_blog_url}}" target="_blank">
                        Blog
                    </a>
                </li>
                {{/store_blog_url}}


                {{#navigation}}
                
                <li class="category itemcount{{count}} {{#is_current}}selected{{/is_current}} {{#children?}}children{{/children?}}">
                    <a href="{{url}}">
                        {{label}}
                    </a>
                    {{#is_current}}
                    {{! Render the submenu if it has any navigation items }}
                    {{#children?}}
                    <ul class="child_navigation">
                        {{#children}}
                        <li class="itemcount{{count}} {{#is_current}}selected{{/is_current}}">
                            <a href="{{url}}">
                                {{label}}
                            </a>
                        </li>
                        {{/children}}
                    </ul>
                    {{/children?}}
                    {{/is_current}}
                </li>
                
                {{/navigation}}

            </ul>
        </header>


    {{#list_page}}
    {{! This block is rendered when displaying a list of products }}
        <section id="products">
            {{! Output a list if we have any products }}
            {{#products?}}
            
                {{#products}}
                    <article class="product" class="list">
                        
                        <div class="left_info">

                            <h1><a href="{{url}}" class="button hand_cursor">{{title}}</a></h1>

                            <div class="description html_content">
                             {{description}}
                            </div>
             
                        </div>

                        <a href="{{url}}" class="image_container hand_cursor">
                            {{#primary_image}}
                                <img src="{{url-2000}}" 
                                     srcset="{{url-300}} 300w, {{url-500}} 500w, {{url-1000}} 1000w, {{url-2000}} 2000w" 
                                     alt="{{title}}" />

                                <!-- <div class="show_more">More Images … </div> -->
                            {{/primary_image}}
                        </a>

                            
                            <section class="details_container">
                                
                                <div class="description html_content">
                                
                                    <a href="{{url}}" class="price compact">
                                        {{#in_stock}}{{price_with_currency}}{{/in_stock}} {{#out_of_stock}}{{#lang}}Sold Out{{/lang}}{{/out_of_stock}}
                                    </a>
                                    
                                    <div class="show_more">
                                        {{#add_to_cart}}
                                        <div class="add_to_cart">
                                            {{#add_to_cart_button}}
                                            Add to cart 
                                            {{/add_to_cart_button}}
                                        </div>
                                        {{/add_to_cart}}

                                    </div>
                                    
                                </div>

                            </section>

                    </article>
                {{/products}}
            {{/products?}}
        </section>
    {{/list_page}}


    {{#product_page}}
    {{! This block is rendered when displaying a single product }}

        {{#product}}
                <article id="product" class="product" itemscope itemtype="http://schema.org/Product">

                    <div class="left_info">

                            <h1>{{title}}</h1>

                            <div class="description html_content">
                             {{description}}
                             <div class="social">
                                {{social_buttons}}
                            </div>
                            </div>

                             
             
                    </div>

                    <div class="image_container">
                        <ul class="inner">
                        {{#all_images}}<li>
                            <img src="{{url-2000}}" 
                                 srcset="{{url-300}} 300w, {{url-500}} 500w, {{url-1000}} 1000w, {{url-2000}} 2000w" alt="{{title}}" />
                        </li>{{/all_images}}
                        </ul>
                    </div>


                    <aside class="details_container hand_bg {{#out_of_stock}} unbuyable {{/out_of_stock}}">

                            <div class="price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                <span itemprop="price" class="pricedisplay">
                                    {{price_with_currency}}
                                </span> 

                                {{#out_of_stock}}
                                    <span class="out_of_stock">
                                        {{#lang}}Sold Out{{/lang}}
                                    </span>
                                {{/out_of_stock}}

                                {{! This is meta data for search engines etc. }}
                                <meta itemprop="priceCurrency" content="{{currency_code}}">
                                {{#in_stock}}
                                <link itemprop="availability" href="http://schema.org/InStock">
                                {{/in_stock}}
                                {{#out_of_stock}}
                                <link itemprop="availability" href="http://schema.org/OutOfStock">
                                {{/out_of_stock}}
                            </div>


                            {{#add_to_cart}}
                                <div class="variations_container">
                                    {{#variations_select}}
                                    <label for="variation_id">{{#lang}}Choose{{/lang}}</label>
                                    {{/variations_select}}
                                </div>

                                <div class="add_to_cart">
                                    {{#add_to_cart_button}}
                                    {{#lang}}Add to cart{{/lang}}
                                    {{/add_to_cart_button}}
                                </div>

                                <em class="shipping">{{shipping_destinations}}</em><br/>
                            {{/add_to_cart}}


                    </aside>
                </article>

                {{! Render a list of related products if there are any }}
                {{#related_products?}}
                <section id="products" class="related">
                    <h2 class="rel-divider">{{#lang}}Related{{/lang}}</h2>
                        {{#related_products}}
                            <article class="product" class="list">
                                
                                <div class="left_info">

                                    <h1><a href="{{url}}" class="button hand_cursor">{{title}}</a></h1>

                                    <div class="description html_content">
                                     {{description}}
                                    </div>
                     
                                </div>

                                <a href="{{url}}" class="image_container hand_cursor">
                                    {{#primary_image}}
                                        <img src="{{url-2000}}" 
                                             srcset="{{url-300}} 300w, {{url-500}} 500w, {{url-1000}} 1000w, {{url-2000}} 2000w" alt="{{title}}" />
                                    {{/primary_image}}
                                </a>

                                    
                                    <section class="details_container">
                                        
                                        <div class="description html_content">
                                            
                                            <div class="text compact">
                                                {{description}}
                                            </div>
                                            <a href="{{url}}" class="price compact">{{price_with_currency}}</a>

                                        </div>

                                    </section>

                            </article>
                        {{/related_products}}
                </section>
                {{/related_products?}}

        {{/product}}

    {{/product_page}}


    {{#about_page}}

        <article id="about" class="page">
            <h1>About</h1>
            <div class="html_content">
                {{store_description}}

                <p>{{store_email}}</p>
            </div>
        </article>

    {{/about_page}}

    <footer>
                <!--
                <div id="search_container">
                    {{search}}
                </div><br><br>
                -->

                <a class="{{#about_page}}selected{{/about_page}}" href="{{store_url}}/page/about">
                {{#lang}}About{{/lang}}
                </a>
                {{#store_blog_url}}
                    <a href="{{store_blog_url}}" target="_blank">
                        {{#lang}}Blog{{/lang}}
                    </a>
                {{/store_blog_url}}
                
                {{#return_policy}}{{#lang}}Return policy{{/lang}}{{/return_policy}}
                {{#terms}}{{#lang}}Terms &amp; Conditions{{/lang}}{{/terms}}

                
    </footer>
    <div id="bg"></div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="js/main.js" inline></script>
</body>
</html>