$stickynav-color: #fff
$stickynav-bg-color: transparent
$stickynav-fixed-color: #444
$stickynav-fixed-bg-color: rgba(255, 255, 255, 0.95)

////////////////////////////////////////////
// Sticky header animation
////////////////////////////////////////////
@keyframes StickyNav-show 
  from  
  	transform: translateY(-100%); 
  	transform: translate3d(0, -100%, 0); 
  to    
  	transform: none 

@keyframes StickyNav-hide 
  from  
  	transform: none 
  to    
  	transform: translateY(-100%); 
  	transform: translate3d(0, -100%, 0); 


.StickyNav
	background-color: $stickynav-bg-color
	color: $stickynav-color
	position: fixed
	will-change: transform
	transition: background 400ms $easeInOutQuad, color 400ms $easeInOutQuad

	&--locked
		position: fixed;

	&--hidden
		animation: StickyNav-hide 300ms $easeInCubic 1 forwards
	
	&--visible
		animation: StickyNav-show 400ms $easeOutQuad 1 backwards
		
	&--background 
		color: $stickynav-fixed-color
		background-color: $stickynav-fixed-bg-color

// .StickyNav 
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	right: 0;

// 	@include if-wider-than($breakpoint-md-px) 
// 		position: absolute; // not fixed until locked
	

// 	background-color: transparent;
// 	text-align: center;
// 	z-index: $z-index-StickyNav;


// 	.js & 
// 		transition: opacity .4s $easeInOutQuad 1s;
// 		visibility: hidden;
	
// 	.js.hero--active & 
// 		opacity: 0;
// 		transition: none;
	

// 	&.StickyNav--locked,
// 	.has-hijacked-scroll & 
// 		@include if-wider-than($breakpoint-md-px) 
// 			// only lock under logo on desktop
// 			position: fixed;
// 			top: -1 * ($header-lock-threashold);

// 	&.StickyNav--background 
// 		background-color: $header-fixed-bg-color
		
